@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fcfcfc;
  color: #000;
  position: sticky;
}
header .logo {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
header li {
  padding: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
header li:hover {
  transform: scale(1.2);
  border-bottom: 2px solid #000;
  transition: border-bottom 0.4s ease;
  transition: transform 0.4s ease;
}

main .hero-section {
  background-image: url("https://i.gifer.com/OgnB.gif");
  background-size: cover;
  background-position: center;
  padding: 6% 5%;
  color: #fff;
  text-align: left;
}
main .hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  background-color: #000000;
  width: fit-content;
  padding: 10px;
  text-transform: uppercase;
}
main .hero-section p {
  margin-bottom: 10px;
  width: fit-content;
  padding: 5px;
  width: 50%;
}
main .hero-section .hero-description {
  font-size: 1rem;
  margin-bottom: 20px;
  background-color: #000000;
}
main .hero-section button {
  display: inline-block;
  font-weight: bolder;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #FEFF47;
  border: 1px solid #FEFF47;
  padding: 1.375rem 1.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}
main .hero-section button:hover {
  color: #000;
  background-color: #FFE147;
  border-color: #FFE147;
  text-decoration: none;
}
main .hero-section button:focus, main .hero-section button:active {
  color: #000;
  background-color: #e5533d;
  border-color: #d44b36;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(254, 99, 71, 0.5);
}
main .productos-section {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
}
main .productos-venta-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 20px;
}
main .marcas-container {
  display: flex;
  justify-content: space-around;
  background-color: #fcfcfc;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}
main .registro-section {
  background-color: #FEFF47;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
}
main .registro-section h2 {
  font-size: 1.3rem;
  padding-top: 10px;
}
main .registro-section form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .registro-section input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 300px;
  box-sizing: border-box;
}
main .registro-section button {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #fe6347;
  border: 1px solid #fe6347;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
}
main .registro-section button:hover {
  color: #fff;
  background-color: #e5533d;
  border-color: #d44b36;
  text-decoration: none;
}

.footer-container {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10% 40px 10%;
  height: 100px;
}
.footer-container .footer-logo img {
  width: 100px;
  filter: invert(1);
}
.footer-container .footer-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-container .footer-social img {
  height: 40px;
  margin-left: 40px;
  filter: invert(1);
}
.footer-container .footer-social img:hover {
  transform: scale(1.1);
}

@media (max-width: 980px) {
  main .hero-section {
    padding: 2% 5%;
  }
  main .hero-section h1 {
    font-size: 2.5rem;
  }
  main .hero-section p {
    width: 90%;
  }
  main .hero-section .hero-description {
    font-size: 1rem;
  }
  main .hero-section button {
    font-size: 1.2rem;
  }
  main .marcas-container img {
    width: 60px;
  }
  main .registro-section {
    flex-direction: column;
    align-items: center;
    padding: auto;
  }
  main .registro-section h2 {
    font-size: 1.2rem; /* Ajusta el tamaño del texto según sea necesario */
    text-align: center;
    flex-direction: column;
  }
  main .registro-section form {
    flex-direction: column;
    align-items: center;
  }
  main .registro-section input {
    width: 100%;
  }
  main .registro-section button {
    font-size: 1rem;
  }
  .footer-container {
    padding: 20px 20px 10px 20px;
    height: 100px;
  }
  .footer-container .footer-logo img {
    width: 80px;
  }
  .footer-container .footer-social img {
    height: 30px;
  }
}

/*# sourceMappingURL=estilos.css.map */
