@media (max-width: 980px){
    header{
        .logo{
            width: 80px;
        }
        li:hover{
            transform: scale(1);
            border-bottom: 2px solid transparent;
        }
        .material-symbols-outlined{
            font-size: 1.5rem;
        }
    }
    main{
        .hero-section{
            padding: 2% 5%;
            h1{
                font-size: 2.5rem;
            }

            p{
                width: 90%;
            }
            .hero-description{
                font-size: 1rem;
            }
            button{
                font-size: 1.2rem;
            }
        }

        .marcas-container{
            img{
                width: 60px;
            }
        }

        .registro-section{
            flex-direction: column;
            align-items: center;
            padding: auto;
            h2{
                font-size: 1.2rem;
                text-align: center;
                flex-direction: column;
            }

            form {
                flex-direction: column;
                align-items: center;
            }

            input{
                width: 100%;
            }

            button{
                font-size: 1rem;
            }
        }
    }

    .footer-container{
        padding: 20px 20px 10px 20px;
        height: 100px;
        .footer-logo{
            img{
                width: 80px;
            }
        }

        .footer-social{
            img{
                height: 30px;
            }
        }
    }
}